@import "../variables";

.Button {
  background-color: $color1;
  color: $bgColor;
  border: none;
  outline: none;
  border-radius: 1px;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.1s background-color, 0.1s box-shadow;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 5px $colorDark1;
  }

  &:active {
    background-color: $colorDark2;
  }
}
