@import "../variables";

.Clock {
  text-align: center;
  color: $color1;

  &-time {
    font-family: $monospace;
    font-size: 40px;
    color: $color1Light2;
    text-shadow: 0 0 16px $color1Dark2;
  }

  &-nosleep {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.alt-color .Clock {
  color: $color2;

  &-time {
    color: $color2Light2;
    text-shadow: 0 0 16px $color2Dark2;
  }
}
