@import "../variables";

.Deposit {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-amount-field {
    position: relative;
    flex-grow: 1;

    .TextField {
      width: 100%;
    }
  }

  .Button,
  .Spinner {
    margin-left: 8px;
    flex-shrink: 0;
  }
}
