@import "../variables";

.HintBubble {
  padding-top: 8px;

  &-bubble {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid $colorDark2;
    border-radius: 2px;
    background-color: $bgColor;
    box-shadow: 0 0 8px $colorDark3;
    text-align: center;
    font-size: 14px;
    color: $colorLight1;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-top: 1px solid $colorDark2;
      border-left: 1px solid $colorDark2;
      background-color: $bgColor;
      transform: rotate(45deg);
    }
  }
}
