@import "../variables";

.HintBubble {
  padding-top: 8px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  z-index: 1;

  &-bubble {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid $color1Dark2;
    border-radius: 2px;
    background-color: $bgColor;
    box-shadow: 0 0 8px $color1Dark3;
    text-align: center;
    font-size: 14px;
    color: $color1Light1;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-top: 1px solid $color1Dark2;
      border-left: 1px solid $color1Dark2;
      background-color: $bgColor;
      transform: rotate(45deg);
    }
  }
}

.alt-color .HintBubble {
  &-bubble {
    border-color: $color2Dark2;
    box-shadow: 0 0 8px $color2Dark3;
    color: $color2Light1;

    &::before {
      border-top-color: $color2Dark2;
      border-left-color: $color2Dark2;
    }
  }
}
