@import "../variables";

.Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .Panel {
    z-index: 1001;
    max-width: 500px;
    margin: 32px;
    height: auto;
    box-shadow: 0 0 16px $color1Dark3;

    &-contents {
      text-align: center;
      padding: 16px;

      p {
        line-height: 1.4;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .Button {
        margin: 0 4px;
      }
    }
  }
}

.alt-color .Modal {
  .Panel {
    box-shadow: 0 0 16px $color2Dark3;
  }
}
