@import "../variables";

.TabBar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $color1Dark3;
    border-top-left-radius: 2px;
    overflow: hidden;
  }

  li {
    display: inline-block;

    button {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.5px;
      padding: 12px;
      padding-left: 24px;
      padding-right: 24px;
      appearance: none;
      border: none;
      background: transparent;
      color: $color1;
      outline: none;
      cursor: pointer;

      &.TabBar-active {
        background: linear-gradient(
          75deg,
          transparent 0%,
          transparent 8%,
          $color1Dark1 8.5%,
          $color1Dark1 92%,
          transparent 92.5%,
          transparent 100%
        );
        color: $bgColor;
      }
    }

    &:first-of-type {
      margin-right: -6px;

      button {
        padding-left: 12px;
        margin-right: -20px;

        &.TabBar-active {
          background: linear-gradient(
            75deg,
            $color1Dark1 0%,
            $color1Dark1 92%,
            transparent 92.5%,
            transparent 100%
          );
        }
      }
    }
  }
}

.alt-color .TabBar {
  ul {
    border-bottom-color: $color2Dark3;
  }

  li {
    button {
      color: $color2;

      &.TabBar-active {
        background: linear-gradient(
          75deg,
          transparent 0%,
          transparent 8%,
          $color2Dark1 8.5%,
          $color2Dark1 92%,
          transparent 92.5%,
          transparent 100%
        );
        color: $bgColor;
      }
    }

    &:first-of-type {
      button {
        &.TabBar-active {
          background: linear-gradient(
            75deg,
            $color2Dark1 0%,
            $color2Dark1 92%,
            transparent 92.5%,
            transparent 100%
          );
          color: $bgColor;
        }
      }
    }
  }
}
