@import "../variables";

.TextField {
  appearance: none;
  border: none;
  border-bottom: 1px solid $color1Dark3;
  border-radius: 0;
  outline: none;
  background-color: $bgColor;
  color: $color1;
  padding: 8px 4px;
  font-size: 14px;
  font-family: $monospace;

  &:focus {
    border-color: $color1Dark1;
  }

  &::placeholder {
    font-family: $sans;
    color: $color1Dark2;
  }
}

.alt-color .TextField {
  border-bottom-color: $color2Dark3;
  color: $color2;

  &:focus {
    border-color: $color2Dark1;
  }

  &::placeholder {
    font-family: $sans;
    color: $color2Dark2;
  }
}
