@import "../variables";

.Withdraw {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-amount-field {
    position: relative;
    flex-grow: 1;

    .TextField {
      width: 100%;
    }
  }

  .Button {
    margin-left: 8px;
    flex-shrink: 0;
  }

  &-spinner {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  &-modal .Panel-contents {
    text-align: center;
    padding: 16px;

    .Withdraw-step {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
      background-color: $color1;
      color: $bgColor;
      font-weight: bold;
      box-shadow: 0 0 16px $colorDark2;
    }

    p {
      line-height: 1.4;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .Button {
      margin: 0 4px;
    }
  }
}
