@import "../variables";

.Withdraw {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-amount-field {
    position: relative;
    flex-grow: 1;

    .TextField {
      width: 100%;
    }
  }

  .Button,
  .Spinner {
    margin-left: 8px;
    flex-shrink: 0;
  }

  &-modal .Panel-contents {
    .Withdraw-step {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
      background-color: $color1;
      color: $bgColor;
      font-weight: bold;
      box-shadow: 0 0 16px $color1Dark2;
    }
  }
}

.alt-color .Withdraw {
  &-modal .Panel-contents {
    .Withdraw-step {
      background-color: $color2;
      box-shadow: 0 0 16px $color2Dark2;
    }
  }
}
