@import "~normalize.css/normalize.css";
@import "./variables";

* {
  box-sizing: border-box;
}

html {
  background-color: $bgColor;
}

body {
  font-family: $sans;
  color: white;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: $colorLight1;
  text-decoration: none;
}

code {
  font-family: $monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 4px;
  border: 1px solid $bgColor;
  background: $colorDark2;
}
