$sans: Barlow, sans-serif;
$monospace: "Nova Mono", monospace;

$bgColor: #05080d;

$color1: #9cd2dc;
$color1Dark1: darken($color1, 10%);
$color1Dark2: darken($color1, 20%);
$color1Dark3: darken($color1, 40%);
$color1Light1: lighten($color1, 5%);
$color1Light2: lighten($color1, 20%);

$color2: #ff9d0f;
$color2Dark1: darken($color2, 10%);
$color2Dark2: darken($color2, 12%);
$color2Dark3: darken($color2, 25%);
$color2Light1: lighten($color2, 5%);
$color2Light2: lighten($color2, 20%);
